#test{
    visibility: visible;
    display: block;
}
#result1{
    visibility: hidden;
    display: none;
}
#result2{
    visibility: hidden;
    display: none;
}
#result3{
    visibility: hidden;
    display: none;
}
#result4{
    visibility: hidden;
    display: none;
}
#result5{
    visibility: hidden;
    display: none;
}
#result6{
    visibility: hidden;
    display: none;
}
#result7{
    visibility: hidden;
    display: none;
}
